<!DOCTYPE html>
<html>
<head>
	<title>Edit Page</title>
</head>
<body>
	<h1>Edit Page</h1>
	<form method='post'>
		<fieldset>
			<legend>EDIT DATA</legend>
			<table>
				<!-- readonly 사용자가 수정 못하게 막아줌 -->
				<tr>
					<td><lable>일련번호</lable></td>
					<td><input type="text" name="id" style=" width:40%;" value="<%= product.id  %>" readonly /></td disabled>	
				</tr>			
				<tr>
					<td><lable>작성자</lable></td>
					<td><input type="text" name="name"  style=" width:800%;" value="<%= product.name  %>" /></td>
				</tr>
				<tr>
					<td><lable>제목</lable></td>
					<td><input type="text" name="age" style=" width:800%;"  value="<%= product.age %>" /></td>
				</tr>
				<tr>
					<td><lable>내용</lable></td>
					<td><textarea type="text" name="contents" style= "width:800%; height:500px;" value="<%= product.contents %>" ><%= product.contents %></textarea></td>
				</tr>
			</table>
			<input type="submit" value="Update"/>
		</fieldset>
	</form>
</body>
</html>